organizations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="organizations" type="organizationsType"/>
    <xs:complexType name="employeeType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:date" name="dateOfBirth"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="employeesType">
        <xs:sequence>
            <xs:element type="employeeType" name="employee" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="organizationType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:date" name="creationDate"/>
            <xs:element type="xs:boolean" name="status"/>
            <xs:element type="employeesType" name="employees"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="organizationsType">
        <xs:sequence>
            <xs:element type="organizationType" name="organization" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>